# package stuff
build
dist
*.egg-info
pycps/tests/.coverage
pycps/tests/cover/

# python stuff
*.pyc
__pycache__

# Data DLs
pycps/data/
data/
history.log

# Mac stuff
.DS_Store

# Documentation stuff
docs/_build/
# Documentation stuff
docs/_build/

# Development
pycps/mysettings.json
